@tailwind base;
@tailwind components;
@tailwind utilities;

*{
box-sizing: border-box;
margin: 0;
padding: 0;
user-select: none;


}

::-moz-selection { /* Code for Firefox */
  color: rgb(55, 69, 176);
  user-select: none;
  
}

::selection {
  color: rgb(55, 69, 176);
  user-select: none;
  
 
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow: hidden;
  color: rgb(var(--foreground-rgb));
  background: rgb(11, 11, 11)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
